.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.container {
    width: 512px;
    height: 440px;
    padding: 24px 32px 24px 32px;
    background-color: var(--background-grey-light-1);
    display: flex;
    flex-direction: column;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 32px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 600;
}

.closeButton {
    background: none;
    border: none;
    cursor: pointer;
}

.subtitle {
    margin: 16px 0 8px 0;
    font-size: 20px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
}

.inputRow {
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputRow > span {
    font-size: 15px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
}

.input {
    width: 80px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    background: none;
    text-align: center;
    font-size: 14px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
}

.input:focus {
    outline: none;
    border: 2px solid black;
}

.addButtonRow {
    margin-top: 16px;
    display: flex;
    gap: 8px;
}

.addButton {
    width: fit-content;
    border: none;
    padding: 6px 10px;
    background-color: var(--add-run-button-color);
    font-size: 20px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
    color: var(--text-grey-light-1);
    cursor: pointer;
}

.addButton:disabled {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 2px;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.errorContainer > span {
    color: var(--risk-high);
    font-size: 12px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
}