.position {
    display: flex;
    flex-direction: column;
    padding: 8px 16px 8px 16px;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.titleText {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.titleText:hover {
    cursor: pointer;
}

.ticker {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
}

.security {
    font-size: 16px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deleteButton {
    margin: 0;
    border: none;
    padding: 0;
    background-color: transparent;
}

.deleteButton > svg {
    display: block;
}

.deleteButton:hover {
    cursor: pointer;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 0 0 0;
}

.detailsHeader {
    font-size: 16px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
}

.detailsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
}

.input {
    width: 80px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    background: none;
    text-align: center;
    font-size: 14px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
}

.input:focus {
    outline: none;
    border: 2px solid black;
}

.input option {
    text-align: center;
}

.riskIndicator {
    display: inline-block;
    margin-left: 8px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.25);
}

.riskIndicatorLow {
    background-color: var(--risk-low);
}
.riskIndicatorMedium {
    background-color: var(--risk-medium);
}
.riskIndicatorHigh {
    background-color: var(--risk-high);
}

.updateButtonRow {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateButton {
    border: none;
    padding: 6px 12px;
    background: #000;
    color: var(--text-grey-light-1);
    font-size: 16px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
}

.updateButton:hover {
    cursor: pointer;
    background: #222;
}

.errorText {
    color: var(--risk-high);
    font-size: 10px;
    font-family: var(--font-ibm-mono), 'Courier New', Courier, monospace;
    font-weight: 400;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 2px;
}