.positionsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 296px;
    background-color: var(--background-grey-light-1);
}

.scrollableContainer {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
}

.scrollableContainer::-webkit-scrollbar {
    display: none;
}

.buttonContainer {
    height: 216px;
}