:root {
  --background-grey-dark-1: #28282B;
  --background-grey-dark-2: #3A3A3E;
  --background-grey-light-1: #CECECE;
  --text-grey-light-1: #E6E6E6;
  --risk-low: #227265;
  --risk-medium: #FDD835;
  --risk-high: #D32F2F;
  --horizontal-single-bar-chart-type-long-color: #1A237E;
  --add-run-button-color: #227265;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
