.statisticsTitle {
    margin: 0;
    padding: 8px 16px 0 16px;
    font-size: 20px;
    font-family: var(--font-ibm-mono), Courier New, Courier, monospace;
    font-weight: 600;
}

.horizontalSingleBarChartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px 2px 16px;
} 

.horizontalSingleBarChartHeader > span {
    font-size: 12px;
    font-family: var(--font-ibm-mono), Courier New, Courier, monospace;
    font-weight: 400;
}

.horizontalSingleBarChart {
    height: 24px;
    margin: 0 16px 0 16px;
    display: flex;
    flex-direction: row;
    border: 1px solid; 
}